h3 {
    margin: 0;
}
h4 {
    margin: 0;
    text-align: start;
}

.serviceSection {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: medium;
    font-weight: 600;
}
.serviceSection:hover {
    cursor: pointer;
}

.serviceHeader {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px solid var(--primary);
}

.serviceButton {
    padding: 0;
    height: 50px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.serviceBody {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px 25px 0 25px;
    border-left: 2px solid var(--primary);
}

.aType {
    padding: 10px ;
}

.duration {
    font-weight: 400;
    font-style: italic;
    text-align: start;
}