h3 {
    margin: 0;
}

.faqSection {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: medium;
    font-weight: 600;
}
.faqSection:hover {
    cursor: pointer;
}

.faqHeader {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px solid var(--primary);
}

.faqBody {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px 25px 0 25px;
    border-left: 2px solid var(--primary);
}