.informationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    max-width: 1200px;
    text-align: center;
    padding: 20px;
}

.phoneNumberDiv {
    text-align: center;
    padding: 20px 0;
}

.phoneNumber {
    text-decoration: none;
}

.phoneNumber:hover {
    border-bottom: 1px solid var(--link);
}

.mapDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 20px ;
}

iframe {
     border: none;
     width: 100%;
     height: 400px;
}
