h1 {
    margin: 0;
}

/** 

Landing Page 

**/

/** Universal Styling **/
.fakeImg {
    width: 80%;
    height: 500px;
}




.ctaSection {
    width: 100%;
    border-bottom: 1px solid var(--primary);
    background: linear-gradient(180deg, rgba(241,168,195,1) 0%, rgba(254,251,252,1) 100%);
}    

.ctaImg {
    height: 500px;
    text-align: center;
}

.cta {
    padding-top: 40px;
}

.ctaButton {
    width: 300px;
    height: 50px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
}


/** Mobile View Landing Page**/ 
@media (max-width: 600px) {
    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ctaContent {
        text-align: center;
        padding-bottom: 20px;
    }

    .mobileButtonSection {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktopButtonSection {
        display: none;
    }
}

/** Tablet and Desktop View Landing Page **/
@media (min-width: 601px) {
    .cta {
        padding: 40px 20px;
        display: flex;
        align-items: center;
    }

    .ctaContent {
        width: 100%;
        text-align: center;
    }

    .ctaImg {
        width: 100%;
    }

    .desktopButtonSection {
        padding-top: 40px;
    }
    .mobileButtonSection {
        display: none;
    }

}





/** About Us **/
.aboutUs {
    padding: 40px;
    border-bottom: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUsBody {
    width: 50%;
    padding: 0 20px;
}