h1 {
    margin: 0;
}

/** 

            Landing Page 

**/

/** Universal Styling **/
.fakeImg {
    width: 80%;
    height: 500px;
}

/** Call to action **/
.ctaSection {
    width: 100%;
    border-bottom: 1px solid var(--primary);
    background: linear-gradient(180deg, var(--primary) 0%, var(--white) 100%);
}    

.ctaImg {
    height: 500px;
    text-align: center;
}

.cta {
    padding-top: 40px;
}

.ctaButton {
    width: 300px;
    height: 50px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
}
.ctaButton:hover {
    background-color: transparent;
    border: 2px solid var(--primary);
}
.ctaButton:active {
    background-color: transparent;
    border: 1px solid var(--primary);

}

/** About Us **/
.aboutUs {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** Carousel **/
.carouselContainer {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-bottom: 1px solid var(--primary);
}
.carouselItem {
    background: black;
    border: 1px solid red;
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.carouselItem1 {
    background: red;
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}


/** Mobile View Landing Page**/ 
@media (max-width: 600px) {
    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ctaContent {
        text-align: center;
        padding-bottom: 20px;
    }

    .mobileButtonSection {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktopButtonSection {
        display: none;
    }

    .aboutUsBody {
        width: 100%;
        padding: 10px 20px 0 20px;
    }
}

/** Tablet and Desktop View Landing Page **/
@media (min-width: 601px) {
    .cta {
        padding: 40px 20px;
        display: flex;
        align-items: center;
    }

    .ctaContent {
        width: 100%;
        text-align: center;
    }

    .ctaImg {
        width: 100%;
    }

    .desktopButtonSection {
        padding-top: 40px;
    }
    .mobileButtonSection {
        display: none;
    }
}

/** Desktop View **/ 
@media (min-width: 1024px) {
    .aboutUsBody {
        padding: 10px 60px 0 60px; 
    }
}

/** Wide desktop view **/
@media (min-width: 1858px) {
    .aboutUsBody {
        padding: 10px 500px 0 500px; 
    }
}
