/** 
    Service Providers Content 
**/
.serviceContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesContent {
    width: 100%;
    max-width: 1200px;
    margin: 20px 20px; 
    display: flex;
    justify-content: center;
}

/** Tabs **/
.workerButton {
    height: 70px;
    width: 50%;
    border: none;
    border-radius: 0;
    background-color: var(--white);
    font-size: medium;
    font-weight: 600;
    border-bottom: 2px solid var(--disabled);
    padding: 0;
}
.workerButtonLeft:hover {
    cursor: pointer;
    background-color: var(--primary);
    border-bottom: var(--primary);
    border-radius: 5px 5px 0 5px;
}

.workerButtonRight:hover {
    cursor: pointer;
    background-color: var(--primary);
    border-bottom: var(--primary);
    border-radius: 5px 5px 5px 0;
}
.active {
    font-size: large;
    border-bottom: 2px solid var(--primary);
}

/** Content **/
.content {
    display: none;
}
.contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.show-content {
    max-width: 1200px;
    width: 100%;
    padding-top: 20px;
    display: block;
}

.serviceProvider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serviceProviderDescription {
    text-align: center;
    width: 50%;

}

.portraitContainer {
    width: 50%;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    width: 350px;
    height: 350px;
}

@media (max-width: 738px) {
    .serviceProvider {
        flex-direction: column;
    }
    .serviceProviderDescription {
        width: 100%;
        padding-top: 20px;

    }

    .portraitContainer {
        width: 100%;
        padding-right: 0;
    }
}



.pricing {
    text-align: center;
}

/** After Care **/
.afterCare {
    padding: 40px 20px 0 0;
    text-align: right;
}

.afterCareTag {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1rem;
    color: var(--link);
    border-radius: 0;
    text-decoration: none;
}
.afterCareTag:hover {
    border-bottom: 1px solid var(--link);
}

/** Book Appointmnet Button **/
.bookAppointmentContainer {
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bookButton {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
    background-color: transparent;
    border: 2px solid var(--primary);
}

.bookButton:hover {
    cursor: pointer;
    background-color: var(--primary);
    border: none;
}
.bookButton:active {
    background-color: transparent;
    border: 2px solid var(--primary);
}
